{style}
#assignment_list {
	height: 150px;
	overflow-y: auto;
}
.assignment_item {
	display: block;
}
{/style}
<div id="assignment_list" class="list-group">
	{foreach $assignments as $assignment}
   		<a onclick='{if $isAdmin == true} SoMusic.assignmentDetails({$assignment["id"]}); {else} SoMusic.completeAssignment({$assignment["id"]},"{$assignment["timeSignature"]}", "{$assignment["keySignature"]}", {$assignment["instrumentsUsed"]}, {$assignment["composition"]}); {/if}' class='list-group-item assignment_item'>{$assignment['name']}</a>
	{/foreach}
</div>
{if $isAdmin == true}
	<div class="ow_box_toolbar_cont clearfix">	
		<ul class="ow_box_toolbar ow_remark ow_bl">    
    		<li>
				<a onclick="{literal}if(typeof SoMusic.floatBox!=='undefined') SoMusic.floatBox.close(); SoMusic.floatBox = OW.ajaxFloatBox('SOMUSIC_CMP_NewAssignment', {'groupId':{/literal}{$groupId}{literal}}, {top:'calc(5vh)', width:'calc(30vw)', height:'calc(50vh)', iconClass: 'ow_ic_add', title: ''});{/literal}">Add</a>
            </li>
    	</ul>
    </div>
{/if}