{style}
li {
	width: auto !important;
}
label {
	padding: 5px !important;
}
[type="radio"] + label::before, [type="radio"] + label::after,
[type="checkbox"] + label::before, [type="checkbox"] + label::after {
	opacity: 0.5 !important;
	width: 35px !important;
	height: 35px !important;
	border: none !important;	
}
#scoreDiv {
	overflow: auto;
	border: 1px solid #DDDDDD;
	cursor: pointer;
}
.floatbox_body {
	overflow-x: hidden;
}
#voiceDiv {
	line-height: 32px;
}
#voiceDiv label {
	width: 32px;
	text-align: center;
}
{/style}

{form name='editor_form'}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<label>Duration: </label>
			</div>
			<div class="row">
				{input name='notes'}
			</div>
			<div class="row">
				{input name='rests'}
			</div>
		</div>
		<div class="col-md-1"> &nbsp; </div>
		<div class="col-md-3">
			<div class="row">
				<label>Accidental: </label>
			</div>
			<div class="row">
				{input name='accidentals'}
			</div>
			<!-- <div class="row" id="voiceDiv">
				Voice: {input name='voice'}
			</div> -->
		</div>
		<div class="col-md-1"> &nbsp; </div>
		<div class="col-md-3">
			<div class="row"><label style="visibility:hidden;">Additional: </label></div>
			<div class="row">
				{input name='additional'}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="scoreDiv">
				<canvas id="score"></canvas>
				<!-- <canvas id="vmCanvas" class="slideInRight animated"></canvas>  -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<!-- <button type="button" class="btn btn-danger" id="del">Delete</button>
			<button type="button" class="btn btn-warning" id="visualMelody">Visual Melody</button> -->
			{if $isClose==1}
			<button onclick='{literal}SoMusic.floatBox.push({"name":"CompositionSettings", "floatBox":OW.ajaxFloatBox("SOMUSIC_CMP_CompositionSettings", {"instrumentsUsed":{/literal}{$instrumentsUsed}{literal}}, {top:"calc(5vh)", width:"calc(50vw)", height:"calc(50vh)", iconClass: "ow_ic_add", title: ""})});{/literal}' type="button" class="btn btn-success" id="settings">Settings</button>
			{/if}
			<button type="button" class="btn" style="visibility:hidden;"> &nbsp; </button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"><a onclick="SoMusic.editor.exportMusicXML();">Export MusicXML</a> </div>
		<div class="col-md-4"> &nbsp; </div>
		<div class="col-md-4">
			<span class="rounded_attachment_btn">
				<span class="ow_button" style="margin-right: 30vw">
					<input type="button" id="add" value="Add" />
				</span>
			</span>
		</div>
	</div>
</div>
{/form}
<script>
	SoMusic.editor = new Editor(document.getElementsByName("notes"),
			document.getElementsByName("rests"),
			document.getElementsByName("accidentals"),
			document.getElementById("score"),
			document.getElementById("add"),
			//document.getElementsByName("voice"),
			{$composition},
			"{$deleteNotesURL}",
			"{$addTieURL}",
			"{$addNoteURL}",
			"{$getCompositionURL}",
			"{$accidentalUpdateURL}",
			"{$closeURL}",
			"{$removeInstrumentURL}",
			"{$exportURL}",
			"{$dotsUpdateURL}",
			"{$moveNotesURL}",
			"{$setNoteAnnotationTextURL}");
</script>
