{style}
input[type=button] {
    margin-top: 20px;
}
{/style}
{form name="new_assignment_form"}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			{label name="name"} {input name="name"}
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<div class="ow_box_toolbar_cont clearfix">	
				<ul class="ow_box_toolbar ow_remark ow_bl">    
    				<li>
						<a onclick="SoMusic.assignmentManager.newAssignment(document.getElementsByName('name')[0].value, 0);">Single-user</a>
           			 </li>
    			</ul>
  		 	</div>
		</div>
		<div class="col text-center">
			<div class="ow_box_toolbar_cont clearfix">	
				<ul class="ow_box_toolbar ow_remark ow_bl">    
    				<li>
						<a onclick="SoMusic.assignmentManager.newAssignment(document.getElementsByName('name')[0].value, 1);">Multi-user</a>
           			 </li>
    			</ul>
  		 	</div>
		</div>
	</div>
</div>
{/form}
