{form name='preview_form'}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<label class="descr">{label name='timeSignature'} </label><br/>
					{input name='timeSignature'}
				</div>
				<div class="col-md-6">
					<label class="descr">{label name='keySignature'} </label><br/>
					{input name='keySignature'}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<br/>
					{$instrumentsTable}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="scorePreview"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 text-center">
			<br>
			    <label class="btn btn-default btn-file">
        			Import MusicXML<input type="file" name="xmlFile" onchange="SoMusic.importMusicXML('{$importURL}', this)" style="display: none;">
   			 	</label>
   			 	<input type="hidden" name="file" value="" id="xmlFile"></input>
		</div>
		<div class="col-md-8 text-center">
			<br>
			<span class="rounded_attachment_btn" style="text-align: center">
				<span class="ow_button fadeInUp animated">
					<input type="button" id="next" value="Next" />
				</span>
			</span>
		</div>
		<div class="col-md-2 text-center"></div>
	</div>
</div>
{/form}
<script>
	SoMusic.preview = new Preview(SoMusic.floatBox,
			document.getElementsByName("timeSignature")[0],
			document.getElementsByName("keySignature")[0],
			document.getElementById("scorePreview"),
			document.getElementById("next"),
			instrumentsTable,
			"{$commitURL}");
</script>
