{style}
select.form-control:not([size]):not([multiple]) {
	height: auto !important;
}
{/style}
{form name='preview_form'}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<label class="descr">{label name='timeSignature'} </label><br />
					{input name='timeSignature'}
				</div>
				<div class="col-md-6">
					<label class="descr">{label name='keySignature'} </label><br />
					{input name='keySignature'}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<br>
					{$instrumentsTable}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="scorePreview"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<span class="rounded_attachment_btn" style="text-align: center">
				<span class="ow_button fadeInUp animated">
					<input type="button" id="next" value="Next" />
				</span>
			</span>
		</div>
	</div>
</div>
{/form}
<script>
	SoMusic.preview = new Preview(SoMusic.floatBox,
			document.getElementsByName("timeSignature")[0],
			document.getElementsByName("keySignature")[0],
			document.getElementById("scorePreview"),
			document.getElementById("next"),
			instrumentsTable);
</script>
