
.floatbox_container {
	width: calc(80vw) !important;
}

#scorePreview {
	height: calc(60vh);
	overflow: auto;
	/*border: 1px solid #DDDDDD;*/
}

#scoreDiv {
	overflow: auto;
	border: 1px solid #DDDDDD;
}